
body {
    display: flex;
    justify-content: center;
    background-image: url(img/bg1.jpg);
}
.container {
    width: 1024px;
    justify-content: center;
    display: flex;
    background-color: #fdfdfd;
    margin-top: 5em;
    margin-bottom: 5em;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;

  
}
  .header {
      width: 90%;
      height: 10em;
      display: flex;
      background-color: #fdfdfd;
      vertical-align: middle;

  }
  .about-me {
    width: 90%;
    text-align: justify;
  }

  .about-me h2{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #e48400;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  h1{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h1:hover{
    transform: scale(1.25);
  }

  #contact{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
  }
  .name-title {
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 25px;
    color: #4d4d4d;
    text-transform: uppercase;
  }

  .content {
    width: 90%;
    display: flex;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
    white-space: normal;

  }
  

  .col1 {
    width: 35%;
    margin-right: 50px;
  }
  
  .col2 {
    width: 65%;
    margin-right: 10px;

  }

  .title{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #e48400;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .title:hover{
    -webkit-transform:scale(1.25);
  }

  }
  h2{
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
  }
  h3 {
    margin: 0px;
    font-size: 16px;
    font-weight: normal;
    text-decoration: underline;
  }

  .card-content{
    flex-wrap: wrap;
  }
  .center {
    text-align: center;
  }
 
  .checked {
    color: orange;
  }
  .fa-star{
    font-size: 10px;
  }
  .card-techs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .techs {
    width: 100px;
    height: 120px;
  }

  .footer {
    background-color: rgba(169, 169, 169, 0.315);
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 5px;
    padding-top: 35px;
  }
  
  
@media screen and (max-width: 555px) {
  .header {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .content {
    flex-direction: column;
  }
  .col1 {
    width: 100%;
  }
  .col2 {
    width: 100%;
  }
}
